#Learn python and pandas by feature engineering, these feature not used in model, just for fun.
* Feature engineering(just for fun)
    + Title
    + Age*Pclass
    + Family Sixe
    + Deck(Cabin)
    + Fare_Per_Person

# import titanic data for analysis

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv("F:/kaggle-titanic/kaggle-titanic-master/data/train.csv")

In [3]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

* 数据包含的字段如下：

    + PassengerID
    + Survived(存活与否)
    + Pclass（客舱等级）
    + Name（姓名）
    + Sex（性别）
    + Age（年龄）
    + SibSp（亲戚和配偶在船数量）Number of Siblings/Spouses Aboard
    + Parch（父母孩子的在船数量）Number of Parents/Children Aboard
    + Ticket（票编号）
    + Fare（价格）
    + Cabin（客舱位置）
    + Embarked（上船的港口编号）

## extract title
The column[passenger name] --> column[title]
passenger name like as :Futrelle, Mrs. Jacques Heath (Lily May Peel) --> passenger title like: Mrs

In [4]:
import string
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if big_string.find(substring) != -1:
        #if substring.find(big_string) != -1:
        #if string.find(big_string, substring) != -1:#change in python 3 
            #http://stackoverflow.com/questions/6644074/what-is-the-python-3-equivalent-of-find
            return substring
    #print(big_string)
    return np.nan

In [5]:
title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']

In [6]:
pd.options.display.max_rows = 10
#http://pandas.pydata.org/pandas-docs/stable/options.html

In [7]:
df['Title']=df['Name'].map(lambda x: substrings_in_string(x, title_list))

In [8]:
df.Title.isnull().sum()

0

In [9]:
df.Title.head(10)

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
5        Mr
6        Mr
7    Master
8       Mrs
9       Mrs
Name: Title, dtype: object

# Deck
only 1st calss pasenger has Cabin, the rest are unknown.
Cabin --> Deck
C123 --> C

In [10]:
df.Cabin.head(10)

0     NaN
1     C85
2     NaN
3    C123
4     NaN
5     NaN
6     E46
7     NaN
8     NaN
9     NaN
Name: Cabin, dtype: object

In [11]:
#Turning cabin number into Deck
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
df['Deck']=df['Cabin'].map(lambda x: substrings_in_string(str(x), cabin_list))
df.Deck.isnull().sum()

687

# Family Size
One thing you can do to create new features is linear combinations of features. In a model like linear regression this should be unnecessary, but for a decision tree may find it hard to model such relationships. Reading on the forums at Kaggle, some people have considered the size of a person’s family, the sum of their ‘SibSp’ and ‘Parch’ attributes. Perhaps people traveling alone did better? Or on the other hand perhaps if you had a family, you might have risked your life looking for them, or even giving up a space up to them in a lifeboat. Let’s throw that into the mix.

In [16]:
df['Family_size'] = df.SibSp + df.Parch
df.Family_size.head(10)
print(df['SibSp'].value_counts())

0    608
1    209
2     28
4     18
3     16
8      7
5      5
dtype: int64

# Age*Class
This is an interaction term, since age and class are both numbers we can just multiply them.

In [48]:
df.dtypes['Pclass']

dtype('int64')

In [51]:
df['Age*Pclass'] = df.Age * df.Pclass

# Fare per Person
Here we divide the fare by the number of family members traveling together, I’m not exactly sure what this represents, but it’s easy enough to add in.

In [52]:
df['Fare_Per_Person'] = df.Fare / (df.Family_size + 1)

In [53]:
df.Fare_Per_Person.head(10)

0     3.62500
1    35.64165
2     7.92500
3    26.55000
4     8.05000
5     8.45830
6    51.86250
7     4.21500
8     3.71110
9    15.03540
Name: Fare_Per_Person, dtype: float64